@model FoodReport.DAL.Models.Field
@{
    ViewData["Title"] = "Create";
}
<script src="~/js/fieldsAdding.js"></script>
<h2>Create</h2>
<h4>Field</h4>
<hr />
<div class="row">
    <div class="form-group">
        <form class="form-horizontal">
            <div id="container">
                <div id="blockInput1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-sm-4" >
                        <label asp-for="Product" class="control-label" id="prod1" ></label>
                        <input asp-for="Product" class="form-control" />
                        <span asp-validation-for="Product" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="Count" class="control-label" style="position : relative"></label>
                        <input asp-for="Count" class="form-control" id="count1" />
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" id="price1" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
                <a href="#" id="filldetails" onclick="Add()">Add</a>
                <a onclick="Send()">Create</a>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
