dl {
    border: 3px solid #ddd;
    padding: 0.5em;
}

dt {
    clear: left;
    color: black;
    float: left;
    font-weight: bold;
    text-align: right;
    width: 100px;
}

dt::after { content: ":"; }

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}